# ==========================================

# Python

# ==========================================

**pycache**/
*.py[cod]
*$py.class

# Virtual Environments

.venv/
venv/
env/
ENV/

# ==========================================

# IDEs

# ==========================================

.vscode/
.idea/

# ==========================================

# OS Files

# ==========================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================

# Build / Packaging

# ==========================================

build/
dist/
*.egg-info/

# ==========================================

# Testing / Coverage

# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================

# Jupyter

# ==========================================

.ipynb_checkpoints/

# ==========================================

# Project Outputs

# ==========================================

outputs/


# ==========================================

# Model Cache

# ==========================================

.cache/
huggingface_cache/

# ==========================================

# Logs

# ==========================================

*.log

# ==========================================

# Environment Variables

# ==========================================

.env

# ==========================================

# Temporary Files

# ==========================================

*.tmp
*.temp
